@font-face {
    font-family: "iranyekanwebmediumfanum";
    src: url("../fonts/iranyekanwebmediumfanum.ttf");
}
@font-face {
    font-family: "iranyekanwebmediumfanum";
    src: url("../fonts/iranyekanwebmediumfanum.ttf");
    font-weight: bold;
}

* {
    font-family: 'iranyekanwebmediumfanum', sans-serif;
    line-height: 1.8rem;
}

/* SM breakpoint */
@media (min-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-75 { width: 75%!important; }
}
.box{

}
.font{
    font-family: Arial;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.cls-font{
    font-size: 16px;
}
