{% extends '_base.html' %}

{% block page_title %}
    {{ book.title }}
{% endblock page_title %}

{% block content %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="card shadow my-3 p-5">
            <h2 style="text-align: center">آیا مطمئن هستید  <b>{{ book.title }}</b> پاک شود ؟ </h2>
            <form action="" method="post" style="text-align: center">
                {% csrf_token %}
                <input type="submit" class="btn btn-sm btn-danger mt-4" value="حذف " style="font-size: 20px">
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}